$color-bluegreen-dark: #41B3A3;
$color-bluegreen-light: #B9E4BD;
$color-terracota-dark: #E27D60;
$color-terracota-light: #E8A87C;
$color-yellow-light: rgb(255, 255, 159);
$color-pink: #e48aa6;
$color-cream: #FEF6C9;
$color-white: #fff;
$color-gray-light: rgb(199, 199, 199);
$color-black-green: rgb(42, 86, 69);

$default-font-size: 1.6rem;
