.icons {
    width: 85%;
    max-width: 86.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 900;
    // backface-visibility: hidden;
    transition: all 2s;

    @include responsive(tab-land) {
      width: 60rem;
    }
    @include responsive(tab-port) {
      width: 49rem;
    }
    @include responsive(phone-land) {
      width: 39rem;
    }
    @include responsive(phone-port) {
      width: 34rem;
    }
  
    &__stack {
      padding: 1rem;
      border-radius: 100%;
      text-align: center;
      
      &:not(:last-child){
        margin: .2rem;
      }

      &-img {
        height: 5rem;
      }
      
      &-caption {
        color: $color-black-green;
        background-color: $color-white;
        text-align: center;
        opacity: 0;
        visibility: hidden;
      }
  
      &:hover &-caption,
      &:active &-caption {
        opacity: 1;
        visibility: visible;
        transform: translateY(.5rem);
      }
  
      &:hover &-img {
        backface-visibility: hidden;
        transform: translateY(-.3rem);
        filter: brightness(1.3);
      }
    }
  }
  