.icons {
    width: 80%;
    max-width: 86.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 900;
    // backface-visibility: hidden;
    transition: all 2s;

    // @include responsive(tab-land) {
    //   width: 80rem;
    // }
    // @include responsive(tab-port) {
    //   width: 65rem;
    // }
    // @include responsive(phone-land) {
    //   width: 45rem;
    // }
  
    &__stack {
      padding: 1rem;
      border-radius: 100%;
      text-align: center;
  
      -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      
      &:not(:last-child){
        margin: .2rem;
      }
      
      &-caption {
        color: $color-black-green;
        text-align: center;
        opacity: 0;
        visibility: hidden;
      }
  
      &:hover &-caption,
      &:active &-caption {
        opacity: 1;
        visibility: visible;
        transform: translateY(.5rem);
      }
  
      &:hover &-img {
        backface-visibility: hidden;
        transform: translateY(-.3rem);
        filter: brightness(1.3);
      }
    }
  }
  