
.heading-primary{
    text-transform: uppercase;
    color: $color-cream;
    font-weight: 700;
    display: flex;
    flex-direction: column;
  
  &--name{
    font-size: 3.5vw;
    background-color: $color-terracota-dark;
    width: fit-content;
    padding: 0 1.5rem;

    @include responsive(tab-port){
      font-size: 3rem;
    }
  }
  
  &--sub{
    font-size: 2.5vw;
    background-color: $color-pink;
    width: fit-content;
    padding: 0 1.5rem;
    font-weight: 700;
    margin-left: 2rem;

    @include responsive(tab-port){
      font-size: 2rem;
    }
    @include responsive(phone-land){
      margin-left: -3.6rem;
    }
  }
}

.heading-secondary{
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, $color-terracota-dark, $color-terracota-light);
  color: transparent;
  -webkit-background-clip: text;
  text-align: center;

  &:hover{
    transform: scale(1.1);
  }
}

.heading-terciary{
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 700;
}

.paragraph{
    font-size: 1.6rem;
    word-spacing: .2rem;

    @include responsive(tab-land){
      font-size: 1.5rem;
    }
    @include responsive(tab-port){
      font-size: 1.4rem;
    }
    @include responsive(phone-port){
      font-size: 1.6rem;
    }

    &:not(:last-child){
        margin-bottom: 3rem;
    }
    &:hover {
      word-spacing: .25rem;
    }
}