.header {
  width: auto;
  height: 95vh;
  position: relative;
  background-image: linear-gradient(to bottom, $color-bluegreen-dark, $color-cream);
  clip-path: polygon(50% 0%, 100% 0, 100% 96%, 84% 93%, 71% 99%, 51% 98%, 33% 93%, 13% 98%, 0 93%, 0 0);
  font-weight: 900;
  color: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__front {
    width: 100%;
    margin-top: -10%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @include responsive(phone-land){
      align-content: center;
    }
  }

  &__picture-img {
    border-radius: 100%;
    width: 25vw;

    @include responsive(tab-port){
      width: 18rem;
    }
  }

  &__text {
    margin-left: -7%;
    margin-top: 13%;  
    
    @include responsive(phone-land){
      margin-left: 7%;
      margin-top: 8%;
    }
  }

  &__arrow {
    position: absolute;
    bottom: 8%;
    font-size: 4rem;

    &:hover {
      cursor: pointer;
    }
  }
}

.section-about {
  width: auto;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-cream;
  text-align: center;
  padding: 3% 10%;
  margin-top: -10vh;
  font-weight: 400;
  color: $color-black-green;

  @include responsive(phone-land){
    margin-top: -7vh;
  }
}

.section-stack {
  width: auto;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-cream;
}

.section-portfolio {
  width: 100%;
  height: 95vh;
  background-color: $color-cream;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  width: auto;
  height: 45vh;
  background-color: $color-cream;
  color: $color-black-green;
  font-size: $default-font-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__logo{
    width: 5rem;
  }
    &__list{
      list-style: none;
      display: flex;
      flex-direction: row;
    }

    &__social{
      &:not(:last-child) {
        margin-right: 2rem;
      }
      &:hover,
      &:active {
        transform: translateY(-.3rem);
        filter: brightness(1.3);
      }
    }
}
